<div class="col-xs-12 col-sm-6 col-md-4">
    <a class="leccion-link" href="#/m/alimentacion-saludable/{{ info.id }}/1">
        <div class="leccion {{ info.completado()}}">
            <div class="leccion-ok" ng-if="info.completo"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
            <div class="caption">
                <h3>lección {{ info.id }}</h3>  
                <h4>{{ info.titulo }}</h4>
                <div class="boton"> 
                    <span class="btn btn-default center-block" role="button">
                        <span ng-if="info.completo">Repetir</span>
                        <span ng-if="!info.completo">Comenzar</span>
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>