<div class="col-xs-12 col-sm-6 col-md-4" ng-if="info.activo">
    <a class="modulo-link" href="#/m/{{ info.url}}"  >
        <div class="modulo">
            <img src="../img/modulos/{{ info.imagen}}" alt="{{ info.titulo}}">
            <div class="caption">
                <h3>{{ info.titulo}}</h3>  
                <h4>{{ info.completadas}} / {{ info.lecciones}}</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{ info.porcentaje()}}%;"></div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4" ng-if="!info.activo">
    <div class="modulo modulo-no-disponible">
        <img src="../img/modulos/{{ info.imagen}}" alt="{{ info.titulo}}">
        <div class="caption">
            <h3>{{ info.titulo}}</h3>
            <h4>{{ info.completadas}} / {{ info.lecciones}}</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{ info.porcentaje()}}%;"></div>
            </div>
        </div>
    </div>
</div>