<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-perfil">
                    <div class="panel-header">
                        <img ng-src="../img/ico-{{usuarioActivo.genero=='F'? 'femenino' : 'masculino'}}.png" alt="Genero {{usuarioActivo.genero}}">
                        <h1>Mi información</h1>
                    </div>
                    <div class="panel-body">
                        <form name="userForm" novalidate>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="text" class="form-control" name='nombre' id='nombre' placeholder="Ingresa tu nombre" ng-model="usuarioActivo.nombre" ng-model-options="{ updateOn: 'blur' }" requiered>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.nombre.$touched">
                                        <span ng-show="userForm.nombre.$error.required">El campo es obligatorio.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="apellido">Apellidos</label>
                                    <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingresa tu apellido" ng-model="usuarioActivo.apellido" ng-model-options="{ updateOn: 'blur' }">
                                    <span class="messages" ng-show="userForm.$submitted || userForm.apellido.$touched">
                                        <span ng-show="userForm.apellido.$error.required">El campo es obligatorio.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="documento">Documento de Identidad</label>
                                    <input type="text" class="form-control" id="documento" name="documento" ng-value="usuarioActivo.login_documento" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Correo Electrónico</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Ingresa tu correo electrónico" ng-model="usuarioActivo.email" ng-model-options="{ updateOn: 'blur' }">
                                    <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
                                        <span ng-show="userForm.email.$error.email">El formato de correo no es válido</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingresa tu dirección de residencia" ng-model="usuarioActivo.direccion" ng-model-options="{ updateOn: 'blur' }">
                                    <span class="messages" ng-show="userForm.$submitted || userForm.direccion.$touched">
                                        <span ng-show="userForm.direccion.$error.required">El campo es obligatorio.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefono">Telefóno</label>
                                    <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Ingresa tu número teléfono" ng-model="usuarioActivo.telefono" ng-model-options="{ updateOn: 'blur' }">
                                    <span class="messages" ng-show="userForm.$submitted || userForm.telefono.$touched">
                                        <span ng-show="userForm.telefono.$error.required">El campo es obligatorio.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="genero">Genero</label>
                                    <select class="form-control" ng-options="option.name for option in usuarioActivo.generos.availableOptions track by option.id"
                                            ng-model="usuarioActivo.generos.selectedOption">
                                        <option disabled value> -- Elige una opción -- </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="etnia">Etnia</label>
                                    <select class="form-control" ng-options="option.name for option in usuarioActivo.etnias.availableOptions track by option.id"
                                            ng-model="usuarioActivo.etnias.selectedOption">
                                        <option disabled value> -- Elige una opción -- </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nacimiento">Fecha de Nacimiento</label>  
                                    <input type="date" class="form-control" placeholder="dd-MM-yyyy" id="nacimiento" name="nacimiento" ng-model="usuarioActivo.birthdate" ng-model-options="{ updateOn: 'blur' }">
                                    <span class="messages" ng-show="userForm.$submitted || userForm.birthdate.$touched">
                                        <span ng-show="userForm.birthdate.$error.required">La fecha de nacimiento es obligatoria</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edad">Edad</label>  
                                    <input type="text" class="form-control" id="edad" name="edad" ng-model="usuarioActivo.edad" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.nacimiento.$touched">
                                        <span ng-show="userForm.edad.$error.required">La edad es obligatoria</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="departamento">Departamento</label>
                                    <input type="text" class="form-control" id="departamento" name="departamento" ng-value="usuarioActivo.departamento" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.departamento.$touched">
                                        <span ng-show="userForm.departamento.$error.required">El departamento es obligatorio</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="municipio">Muncipio</label>
                                    <input type="text" class="form-control" id="municipio" name="municipio" ng-value="usuarioActivo.municipio" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.municipio.$touched">
                                        <span ng-show="userForm.municipio.$error.required">El municipio es obligatorio</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="comunidad">Comunidad</label>
                                    <input type="text" class="form-control" id="comunidad" name="comunidad" placeholder="Escrba la comunidad a la que pertenece" ng-model="usuarioActivo.comunidad" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.comunidad.$touched">
                                        <span ng-show="userForm.comunidad.$error.required">La comunidad es obligatoria</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="zona">Zona</label>
                                    <input type="text" class="form-control" id="zona" name="zona" placeholder="Escrba la zona en la que vive" ng-model="usuarioActivo.zona" ng-model-options="{ updateOn: 'blur' }" required>
                                    <span class="messages" ng-show="userForm.$submitted || userForm.comunidad.$touched">
                                        <span ng-show="userForm.zona.$error.required">La zona es obligatoria</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-default center-block" ng-click="update()" value="Guardar Cambios" ng-disabled="userForm.$invalid || dataLoading" >
                                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
