<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/"><img ng-src="../img/nutrifami_logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li class="{{ home}}"><a ng-href="#/">Inicio <span class="sr-only">(current)</span></a></li>
                <li class="{{ informacion}}"><a ng-href="#/perfil">Más Información</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/perfil">{{ usuarioActivo.nombre | capitalize:true }}</a></li>
                <li><a ng-href="#/login">Cerrar Sesión</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>