<div class="landing">
    <header>
        <div class="container">
            <div class="logo">
                <img src="../img/logo-landing.png" alt="Logo Nutrifami"/>
            </div>
            <a href="#/login" class="btn btn-primary" role="button">Ingresar</a>
            <a href="#" class="como-funciona">¿Cómo funciona?</a>
        </div>

    </header>
    <div class="hero">
        <div class="container">

            <div class="descripcion">
                <h1>¡Aprende sobre nutrición <br>para alcanzar el Hambre Cero!</h1>
                <p>Aprende jugando sobre alimentación saludable y seguridad alimentaria.<br/>
                    Encuentra consejos para realizar compras eficientes de alimentos. <br/> 
                    Mejora los hábitos alimenticios en tu hogar.</p>
                <img src="../img/img-app.png" alt="Login aplicación móvil"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="mi-perfil">
            <h4>¿Cómo funciona?</h4>
            <h2>Mi perfil</h2>
            <p>Crea tu propio perfil y el de tu familia para que todos mejoren sus<br>conocimientos en alimentación saludable </p>
            <img src="../img/landing-mi-perfil.png" alt="Mi perfil"/>
        </div>

        <div class="aprende">
            <h4>¿Cómo funciona?</h4>
            <h2>Aprende jugando</h2>
            <p>Ingresa a nuestros módulos de capacitación a través de los cuales aprenderás sobre nutrición, cómo combinar mejor los alimentos, diversidad de la dieta, manejo de los alimentos, alimentación de mujeres embarazadas y sus bebes, 
                hábitos saludables, recetas saludables, etc. </p>
            <img src="../img/landing-aprende.png" alt="Aprende jugando"/>
        </div>

        <div class="mis-compras">
            <h4>¿Cómo funciona?</h4>
            <h2>Mi perfil</h2>
            <p>La plataforma te dará importantes consejos sobre cómo seleccionar los alimentos en el momento de comprarlos para alcanzar una dieta balanceada y nutritiva.</p>
            <img src="../img/landing-mis-compras.png" alt="Mis compras"/>
        </div>
    </div>

    <footer>
        <div class="container">
            <h2>¡Comenzar a Aprender!</h2>
            <a href="#/login" class="btn btn-primary" role="button">Ingresar</a>
            <div class="logo">
                <img src="../img/logo-landing-footer.png" alt="Logo Nutrifami"/>
                <span>&copy; 2016 Nutrifami</span>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(window).scroll(function () {
            var ScrollTop = parseInt($(window).scrollTop());
            console.log(ScrollTop);

            if (ScrollTop > 775) {
                $("header").css("background-color", "75a8fe");
                //document.getElementById('back-to-top').fadeOut;
            } else {
                $("header").css("background-color", "");
            }
        });
    });
</script>