<div ng-controller="PerfilController">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="../img/nutrifami_logo.png"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Inicio <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="#/perfil">Más Información</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/perfil">Camila Pereira</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="boton-flotante">
                        <a class="btn btn-default" href="#/editar-perfil" role="button">Editar Info<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    </div>
                    <div class="panel-header">
                        <img src="../img/ico-femenino.png">
                        <h1>Mi información</h1>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombres</label>
                                    <p>Camilia Patricia</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Apellidos</label>
                                    <p>Zarate Pereira</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Docuemnto de Identidad</label>
                                    <p>56.890.005</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Genero</label>
                                    <p>Femenino</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Etnia</label>
                                    <p class="sin-registro">Sin Etnia</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Fecha de Nacimiento</label>
                                    <p class="sin-registro">10 - Junio - 1986/p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Departamento</label>
                                    <p class="sin-registro">Sin Departamento</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Municipio</label>
                                    <p class="sin-registro">Sin Municipio</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Comunidad</label>
                                    <p class="sin-registro">Sin Comunidad</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="boton-flotante">
                        <a class="btn btn-default" href="#" role="button">Agregar<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </div>
                    <div class="panel-header">
                        <img src="../img/ico-familia.png">
                        <h1>Mi familia</h1>
                        <h3>5 miembros</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Rango edad</th>
                                        <th>Editar info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>0 a 2 años</td>
                                        <td><a href="#">Editar</a></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>6 a 17 años</td>
                                        <td><a href="#">Editar</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>18 a 60 años</td>
                                        <td><a href="#">Editar</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="../img/wfp_blue.png">
                </div>
            </div>
        </footer>
    </div>
    
</div>