<div class="calificacion">
    <div class="modal-header">
        <span class="center-block glyphicon" ng-class="data.success === true ? 'glyphicon-ok bien' :'glyphicon-remove mal'" aria-hidden="true"></span>
    </div>
    <div class="modal-body">
        <div>
            <span class="mensaje" ng-show="{{data.success === true}}">Muy Bien!!</span>
            <span class="mensaje" ng-show="{{data.success === false}}">Error</span>
            <p class="feedback"> {{ data.message}} </p>
        </div>
        <div class="modal-footer">
            <div class="activo"> 
                <a href class="btn btn-default center-block" role="button" ng-click="clickBoton()">{{ data.success === true ? 'Aceptar':'Volver'}}</a>
            </div>
        </div>
    </div>
</div>