<div class="calificacion">
    <div class="modal-header">
        <span class="center-block glyphicon" ng-class="data.estado == 'acierto' ? 'glyphicon-ok bien' :'glyphicon-remove mal'" aria-hidden="true"></span>
    </div>
    <div class="modal-body">
        <div>
            <span class="mensaje" ng-show="{{data.estado === 'acierto'}}">Muy bien! Respuesta correcta</span>
            <span class="mensaje" ng-hide="{{data.estado === 'acierto'}}">Intenta de nuevo! respuesta incorrecta</span>
            <p class="feedback" ng-hide="{{data.estado === 'acierto'}}"> {{ data.feedback}} </p>
        </div>
        <div class="modal-footer">
            <div class="activo"> 
                <a href class="btn btn-default center-block" role="button" ng-click="clickBoton()">{{ data.estado == 'acierto' ? 'Continuar':'Intentar de nuevo'}}</a>
            </div>
        </div>
    </div>
</div>