<form name="userForm" novalidate>
    <div class="col-md-6">
        <div class="form-group">
            <label for="nombre">Nombres <span class="message">*</span></label>
            <input type="text" class="form-control" name='nombre' id='nombre' placeholder="Ingresa el nombre" ng-model="familiar.FAM_PER_NOMBRE" ng-model-options="{ updateOn: 'blur' }" required>
            <span class="messages" ng-show="userForm.$submitted || userForm.nombre.$touched">
                <span ng-show="userForm.nombre.$error.required" class="error">El campo es obligatorio.</span>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="apellido">Apellidos <span class="message">*</span></label>
            <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingresa el apellido" ng-model="familiar.FAM_PER_APELLIDO" ng-model-options="{ updateOn: 'blur' }" required>
            <span class="messages" ng-show="userForm.$submitted || userForm.apellido.$touched">
                <span ng-show="userForm.apellido.$error.required" class="error">El campo es obligatorio.</span>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="documento">Documento <span class="message">*</span></label>
            <input type="number" min="0" maxx="999999999999" class="form-control" name="documento" id="documento" placeholder="Ingresa el documento del familiar" ng-model="familiar.FAM_PER_DOCUMENTO" ng-model-options="{ updateOn: 'blur' }" required>
            <span class="messages" ng-show="userForm.$submitted || userForm.documento.$touched">
                <span ng-show="userForm.documento.$error.required" class="error">El campo es obligatorio y debe ser númerico</span>
                <span ng-show="userForm.documento.$error.number" class="error"> El documento debe ser un número</span>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="email">Correo Electrónico <span class="message">*</span></label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Ingresa el correo electrónico" ng-model="familiar.FAM_PER_EMAIL" ng-model-options="{ updateOn: 'blur' }" required>
            <span class="messages" ng-show="userForm.$submitted || userForm.email.$touched">
                <span ng-show="userForm.email.$error.email" class="error">El formato de correo no es válido</span>
                <span ng-show="userForm.email.$error.required" class="error">El correo es obligatorio.</span>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="parentesco">Parentesco <span class="message">*</span></label>
            <select class="form-control" ng-options="option.name for option in familiar.parentescos.availableOptions track by option.id" ng-model="familiar.parentescos.selectedOption" ng-model-options="{ updateOn: 'blur' }" required>
                <option disabled value> -- Elige una opción -- </option>
            </select>
            <span class="messages" ng-show="userForm.$submitted || userForm.parentesco.$touched">
                <span ng-show="userForm.parentesco.$error.required" class="error">El paretesco es obligatorio</span>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="nacimiento">Fecha de Nacimiento <span class="message">*</span></label>  
            <input type="date" class="form-control" placeholder="dd-MM-yyyy" id="nacimiento" name="nacimiento" ng-model="familiar.birthdate" ng-model-options="{ updateOn: 'blur' }" required>
            <span class="messages" ng-show="userForm.$submitted || userForm.birthdate.$touched">
                <span ng-show="userForm.birthdate.$error.required" class="error">La fecha de nacimiento es obligatoria</span>
            </span>
        </div>
    </div>
    <div class="col-md-12">
        <input type="submit" class="btn btn-default center-block" ng-click="update()" value="Guardar Cambios" ng-disabled="userForm.$invalid || dataLoading" >
        <p class="message">(*) Todos los campos son obligatorios</p>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>
