<div class="col-xs-12 col-sm-6 col-md-4" ng-show="leccion.activo">
    <a class="leccion-link" href ng-click="click()">
        <div class="leccion" ng-class="leccion.avance.terminada ? 'leccion-terminada':''">
            <div class="leccion-ok" ng-show="leccion.avance.terminada"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
            <div class="caption">
                <h3>paso {{ paso }}</h3>  
                <h4>{{ leccion.titulo.texto}}</h4>
                <div class="boton"> 
                    <span class="btn btn-default center-block" role="button">
                        <span ng-show="leccion.avance.terminada">Repetir</span>
                        <span ng-hide="leccion.avance.terminada">Comenzar</span>
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>