<div class="col-xs-12 col-sm-6 col-md-4" ng-if="info.activo">
    <a class="modulo-link" href ng-click="irAlModulo()">
        <div class="modulo">

            <img data-ng-src="data:{{info.imagen.ContentType}};base64,{{info.imagen.content}}">
            <div class="cargando">
                <img ng-src="../img/preloader_nutri_30px.gif" alt="Cargando..." ng-show="cargando">
            </div>
            <div class="caption">
                <h3>{{ info.titulo}}</h3>  
                <h4>{{ avance.leccionesTerminadas}} / {{ totalLecciones()}}</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{ porcentajeAvance()}}%;"></div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4" ng-if="!info.activo">
    <div class="modulo modulo-no-disponible">
        <img data-ng-src="data:{{info.imagen.ContentType}};base64,{{info.imagen.content}}">
        <div class="caption">
            <h3>{{ info.titulo}}</h3>
            <h4>0 / {{ totalLecciones()}}</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:0%;"></div>
            </div>
        </div>
    </div>
</div>