<div class="col-xs-12 col-sm-6 col-md-4" ng-show="info.activo">
    <a class="modulo-link" href ng-click="irAlModulo()">
        <div class="modulo">

            <img ng-src="{{info.imagen.url}}">
            <div class="cargando">
                <img ng-src="../img/preloader_nutri_30px.gif" alt="Cargando..." ng-show="cargando">
            </div>
            <div class="caption">
                <h3>{{ info.titulo.texto}}</h3>  
                <h4>{{ info.avance.leccionesFinalizadas}} / {{ totalLecciones()}}</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{ porcentajeAvance()}}%;"></div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="col-xs-12 col-sm-6 col-md-4" ng-hide="info.activo">
    <div class="modulo modulo-no-disponible">
        <img ng-src="{{info.imagen.url}}">
        <div class="caption">
            <h3>{{ info.titulo.texto}}</h3>
            <h4>{{ info.avance.leccionesFinalizadas}} / {{ totalLecciones()}}</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{ porcentajeAvance()}}%;"></div>
            </div>
        </div>
    </div>
</div>