<div class="col-xs-12 col-sm-6 col-md-{{colspan}}" >
    <a class="unidad-link" href ng-mouseover="rollover='rollover'" ng-mouseout="rollover=''" ng-click="click()">
        <div class="opcion {{ rollover }} {{ estilo }}">
            <div class="caption">
                <p>{{ info.texto }}</p>
                <div class="boton"> 
                    <span class="btn btn-default center-block" role="button">Seleccionar</span>
                </div>
            </div>
        </div>
    </a>
</div>