<div class="col-xs-12 col-sm-6" ng-class="$parent.unidad.opciones.length == 6 || $parent.unidad.opciones.length == 3 ? 'col-md-4' : ($parent.unidad.opciones.length == 2 ? 'col-md-6' : 'col-md-3')" >
    <div class="sonido" ng-show="info.audio.url != ''">
        <a href><span ng-click='info.audio.audio.paused ? info.audio.audio.play() : info.audio.audio.pause()'class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></a>
    </div>
    <a class="opcion-link" href ng-mouseover="rollover = 'rollover'" ng-mouseout="rollover=''" ng-click="click()">
        <div class="opcion" ng-class="[rollover,info.media !== undefined ? 'opcion-con-imagen' : '', info.selected ? 'selected' : 'no-selected']">
            <div class="caption">
                <!--<img data-ng-src="{{info.media.url}}" alt="{{ info.titulo}}" ng-hide="{{info.media === undefined}}" />-->
                <p>{{ info.texto}}</p>
                <div class="boton"> 
                    <span class="btn btn-default center-block" role="button">Seleccionar</span>
                </div>
                <div class="sticker" ng-show="info.evaluacion">
                    <span class="glyphicon center-block" aria-hidden="true" ng-class="info.selected == info.correcta ? 'glyphicon-ok bien' :'glyphicon-remove mal'"></span>
                </div>
            </div>
        </div>
    </a>
</div>