<div class="row">
    <div class="calificacion">
        <div class="col-md-2">
            <span class="glyphicon glyphicon-remove mal center-block" aria-hidden="true"></span>
        </div>
        <div class="col-md-6">
            <span class="mensaje">Intenta de nuevo! respuesta incorrecta</span>
            <p class="feedback">{{ feedback }}</p>
        </div>

        <div class="col-md-4">
            <div class="activo"> 
                <a href class="btn btn-default intentar-nuevo center-block" role="button" ng-click="reiniciar()">Intentar de nuevo</a>
            </div>
        </div>
    </div>
</div>