<div class="row">
    <div class="calificacion">
        <div class="col-md-2">
            <span class="glyphicon glyphicon-ok bien center-block" aria-hidden="true"></span>
        </div>
        <div class="col-md-6">
            <span class="mensaje">Muy bien! Respuesta correcta</span>
            <!--<p class="feedback">Los nutrientes son las sustancias que encontramos en los alimentos, necesarios para el funcionamiento del cuerpo.</p>-->
        </div>
        <div class="col-md-4">
            <div class="activo"> 
                <a href class="btn btn-default center-block" role="button" ng-click="click()">Continuar</a>
            </div>
        </div>
    </div>
</div>